/* remove ugly outlines */
:focus, :active, :hover {
    outline: 0 !important;
    text-decoration: none !important;
}

/*.navbar, .panel, .alert {
    border-radius: 0px !important;
}*/

a {
    text-decoration: none !important;
}

select {
    border-radius: 0px !important;
}

body {
    overflow-y: scroll;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(images/stripe.gif);
}

.navbar-links {
    overflow: hidden !important;
}

.navbar-links {
    padding-right: 0px;
}

.navbar-nav a:focus {
    color: #fff !important;
}

.navbar-nav a:hover {
    color: #18bc9c !important;
}

.navbar-header a:hover,
.navbar-right a:hover,
.navbar-header a:focus,
.navbar-right a:focus {
    color: #fff !important;
}

.navbar-text {
    color: #fff !important;
}

.panel {
    word-wrap: break-word;
    border: 2px solid #555;
}

.panel-table  {
    padding: 0px !important;
    margin: 15px !important;
    overflow: auto !important;
}

#notify-count {
    margin-left: 6px;
}

.no-margin-bc {
    margin: 0 !important;
}

.margin-bottom-bc {
    margin: 0 0 15px 0 !important;
}

/*.modal p {
    margin-bottom: 0px;
}*/